@import "tailwindcss";

@font-face {
  font-family: 'DidotBoldItalic';
  src: url('../public/fonts/DidotLTPro-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'BirkaSemiBold';
  src: url('../public/fonts/BirkaSemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
